<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    /* top    ri     boo  left:  */  
    font-size: 1rem;
  }

  /* search mate */
  

  /* .option-btn {
    display: flex; 
    align-items: center;
    justify-content: center;/*.  because you are already give margin and padding not need hei,wid**/
    /* border: 1px solid black;
    border-radius: 25px;
    margin: 5rem 5rem;
    padding: 10px 25px;
    gap: 10px;
 
  } */ 
  /* .option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5rem 5rem;
    padding: 10px 25px;
    gap: 20px; */
  /* } */
  /* .option-btn i {
    font-size: 18px;
  } */


</style>


<!-- md middium size per expnded thay lg size per thay -->
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listing">Explore</a>
        <a class="nav-link" href="/listing">All Listings</a>
        <a class="nav-link" href="/listing/new">Add listing</a>
      </div>
      <div class="navbar-nav ms-auto "> <!---auto thi nav search bar side ma jay -->
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search deatination">
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <!-- <div class="nav-link navbar-nav option-btn d-flex gap-8 ">
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-address-card "></i> 
      </div>
     
 -->

      <!-- </div> -->
      <div class="search-bar ms-auto  ">

        <div class="search-bar ms-auto  ">

          <form class="form-inline my-2 my-lg-0 d-flex align-items-center" action="/listings/search/:searchValue">
            <input class="form-control mr-2 mb-3" type="search" name="searchTerm" placeholder="Enter place, location, country etc" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0 ms-2" type="submit">Search</button>
          </form>


        </div>


      </div>


      <div class="navbar-nav ms-auto nav-left-side"> <!----margin from strt shift right side -->
        <a class="nav-link" href="/listing/new">Airbnb your home</a>
        <% if(!currUser) { %> <!---user login nathi to singup-login option show thay-->
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
            <% if(currUser) { %> <!---login che to logout option show thay-->
              <a class="nav-link" href="/logout"><b>Log Out</b></a>
              <% } %>
      </div>
    </div>
</nav>